.container {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}



.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url('download.jpeg')no-repeat;
    background-size: cover;
}


.circle-label h1 {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    font-size: 30px;
}


button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: transparent !important;
}

a:hover {
  color: white;
}

